.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 10px;
}
.item > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.item > div > input[type="checkbox"] {
  cursor: pointer;
}
