.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  text-align: center;
}
.App > h2 {
  color: white;
}

.items li {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  list-style: none;
}

.items li::first-letter {
  text-transform: uppercase;
}
.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.input-container > input {
  border: none;
  border-radius: 12px;
  width: 100%;
  outline: none;
  padding: 10px;
}
